					/* < -----  Navigation Bar & Main Page Styling -----> */
					

/* ---------- NAV Bar Styling ---------- */

* {
	font-family: sans-serif;
}
#heading {
	text-align: center;

}

.logo {
	cursor: pointer;
	margin-right: auto;
}

li, a, button {
	font-weight: 700;
	font-size: 1em;
	color: #ecf0f1;
	text-decoration: none;
}

header {
	border:3px inset rgb(224, 224, 218);
	border-radius:5px;
	
	background-image: url("NaviBarBackground.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875em 10%;
	
	 
}

.navpages {
	list-style: none;
}

.navpages li:last-of-type{
	margin-right: 1em;
	border-right: 0.25em solid white;
	height: 1.375em; 
}

.navpages li{
	display: inline-block;
	padding: 0px 1.75em;
	border-left: 0.25em solid white;
	height: 1.375em;
}

.navpages li a {
	transition: 0.3s ease 0s;
	text-decoration: underline;
}

.navpages li a:hover {
	/* color: #DF7104; */
	background-color: #93b8b5; color: #ffffff; padding: 15px 25px; 
}

button {
	padding: 0.5625em 1.5625em;
	background-color: #444444;
	border: none;
	border-radius: 3.125em;
	cursor: pointer;
	transition: 0.3s ease 0s;
	background-color: #93b8b5; color: #ffffff; 
	
}

button:hover {
	color:#444444;
	background-color: gray;
}

/* ---------- Main Page Styling ---------- */

body.homeBody {
	background-image:url("PageBackground.png");
	background-size:cover;
	background-repeat:no-repeat;
}


div.pgdeveloper {
	margin-top:31%;
	margin-left:2%;
}

.pageimgset2 {
	margin-top: 50px;

}
.pageimgset1 {
	margin-top: 100px;

}

.eachimg{
	margin: 40px;
	height: 55%;
	width: 35%;
	margin-left: 140px;
}
