.Instructions{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 1.6;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0.2, 0, 0, 0.5);
    text-align: center;
}

.group{
    border-radius: 15px;
	width: 380px;
	margin: 48px auto;
	padding: 48px 32px 32px 32px;
	background: #17c1c1;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  body{
    align-items: center;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
  }
  