  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Instructions-box {
    height: 470px;
    width: 550px;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 10px;   /* for the circular effect border */
    background-color: #B9f158;
}

main{
    height: 80vh;
    padding-top: 50px;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: #000000;
}
 

.information-title {
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
}
 

.rules {
    text-align: center;
    font-size: 22px;
}


.start_btn {
    border-radius: 10px;
    background-color: #B9f158; 
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    padding: 12px 26px;
    position: absolute;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 500px;
    cursor: pointer;  
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button both horizontally and vertically */
}
   
  
.start_btn a:focus {
    outline: 0;
}

.start_btn :hover {
    color: yellow; 
}