h1{
    
    text-align: center;
    font-size: 40px;
}
.studentedit{
    border: solid;
    text-align: left;
    font-size: 20px;
    color: darkcyan;
    border-style:ridge;
    border-color: black;
    display: inline block;
    padding: 10px;
    
}

body{
    background-color:white;
    transition: background-color 0.5s, color 0.5s;

}
li{
    font-family: fantasy;
    display: inline;
    margin-left: 80px;
    margin-right: 160px;
}
.hoverEff:hover{
    opacity: 0.6;
}

#click {
    position: absolute;
    top: 10px;
     right: 10px;
}
.button {
    background-color: lightgray;
    border-radius: 12px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.button1:hover {
    background-color: gray;
    color: white;
  }
  
        

