h1{
    margin-bottom: auto;
    text-align: center;
    font-size: 50px;

}
.studentedit{
    border: solid;
    text-align: left;
    font-size: 20px;
    color: darkcyan;
    border-style:ridge;
    border-color: black;
    display: inline block;
    padding: 10px;
    
}
.tmoveimagesup{
    margin-bottom: 50px;
}

body{
    background-color:white;
    transition: background-color 0.5s, color 0.5s;
    

}
.moveup{
    margin-bottom:10px;
}
li{
    font-family: fantasy;
    font-size: px;
    display: inline;
    padding-right: 65px;
    margin-left: 145px;
}
.hoverEff:hover{
    opacity: 0.6;
}

#click {
    position: absolute;
    top: 10px;
     right: 10px;
}
.button {
    background-color: lightgray;
    border-radius: 12px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.button1:hover {
    background-color: gray;
    color: white;
  }

.modal{
    position:fixed;  
    display: none;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color:rgba(0,0,0,0.9);
}
.modal-content{
    max-width: 700px;
    margin: auto;
    width: 80%;
    display: block;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: gray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
  }

  
        

