*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;

}

.footer{
    height:7vh;
	background-size: cover;
	background: linear-gradient(to bottom, #586c6e 0%, #0b5daf 100%);
	padding-left: 30px;

}

.bottomdiv{
    display: flex;
    height: 70vh;
    background: linear-gradient(to bottom, #181e1f 0%, #d1cbcb 100%);
	padding-top: 120px
	
    
}
h1{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    
}
.marginL{
    margin-left: 100px;
}
rect {
    fill: blue ;
    stroke: black;
    stroke-width: 5;
    opacity: 1;
    transition: fill 0.3s;
  }

rect:hover,
.hoverEff:hover rect {
    opacity: 0.6;
    fill: aqua;
    
}
.hoverEff:hover .svgText {
    fill: black;
}

.svgText{
    fill:white;
    font-size:24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: fill 0.3s ;
}
.lineDes{
    fill:none;
    stroke: black;
    stroke-width: 8px;
    stroke-linecap:round;
}
.pageEditor{
	
	font-size: 20px;
}


/* ---------- NAV Bar Styling ---------- */

* {
	font-family: sans-serif;
}
#heading {
	text-align: center;

}

.logo {
	cursor: pointer;
	margin-right: auto;
}

li, a, button {
	font-weight: 700;
	font-size: 1em;
	color: #ecf0f1;
	text-decoration: none;
}

header {
	border:3px inset rgb(224, 224, 218);
	border-radius:5px;
	
	background-image: url("NaviBarBackground.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875em 10%;
	
	 
}

.navpages {
	list-style: none;
}

.navpages li:last-of-type{
	margin-right: 1em;
	border-right: 0.25em solid white;
	height: 1.375em; 
}

.navpages li{
	display: inline-block;
	padding: 0px 1.75em;
	border-left: 0.25em solid white;
	height: 1.375em;
}

.navpages li a {
	transition: 0.3s ease 0s;
	text-decoration: underline;
}

.navpages li a:hover {
	/* color: #DF7104; */
	background-color: #93b8b5; color: #ffffff; padding: 15px 25px; 
}

button {
	padding: 0.5625em 1.5625em;
	background-color: #444444;
	border: none;
	border-radius: 3.125em;
	cursor: pointer;
	transition: 0.3s ease 0s;
	background-color: #93b8b5; color: #ffffff; 
	
}

button:hover {
	color:#444444;
	background-color: gray;
}
