
/*Gallery page CSS*/
h1{
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  

}

body{
    background-color:black;
    transition: background-color 0.5s, color 0.5s;   /*Body styling*/
    /* margin-top: 50px; */
    
}
.content{
    padding-top: 70px;
}

#fontButton{
    margin-right: 10px;
}
.studentedit{
    border: solid;
    text-align: left;
    font-size: 20px;
    color: darkcyan;
    border-style:ridge;
    border-color: black;
    display: inline block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#click {
    position: relative;
    float: right;
    
}											/*button position shift to right and is releative to the h1 pos*/
#TxtSize{
    position: relative;
    float: right;
    
}
.buttonMain {
    background: linear-gradient(to bottom, #cc8500 0%, #000000 100%);
    border: none; 
    border-radius: 12px;
    font-size: 16px;
    padding: 12px 24px;
    transition: transform 0.2s, opacity 0.2s; 
    cursor: pointer;
    color: white;
    
}

.buttonMain:hover {
    transform: translateY(-2px);							/*button styling*/
    opacity: 0.8; 
}
.hoverEff:hover{
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.1);

}
.image-container {
    margin-left: 20px;
	
}
.hoverEff{
    margin: 0 50px;
    transition: transform 0.3s ease-in-out;
}
.image-container p{
    font-family: fantasy;                               /*container to print the images vertically*/
    font-size: 15px;
    margin-left: 170px;
	margin-bottom: 10px;
	
}
.horizontalImg p{
    font-family: fantasy;
    font-size: 15px;
    margin-left: 170px;
	margin-bottom: 10px;
}

.image-container img {
    border: 2px solid orange; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 					/*Images in Webpage Style including border and hover effects*/
}
.horizontalImg{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;                /*wrapping it with flex-wrap and display flex to print horiztally*/
    margin: 30px;

}
.horizontalImg img{
    border: 2px solid orange; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    

}


.imageBorder {
    color: white;
    position: relative;           /*image border to hold the ImgContent and the modal background color will be positioned according to the #Border*/
    display: none;
    z-index: 1;
    width: 1100px;
    height: 430px; 
    background-color: rgb(67, 67, 70);
    background: linear-gradient(to bottom, #cc8500 0%, #000000 100%);
    outline: 5px solid #B6B6B6;

    
}
#Border {
    position: absolute;   /*Positioning the Modal to be printed in the center*/
    top:230px;
    left: 450px;
}

.Imgcontent{
    max-width: 900px;
    max-height: 425px;
    margin: 2px 0px 30px 10px;  /*image properties within the opened imageBorder*/
    width: 50%;
    display: flex;
    text-align: right;
    
}
#ImgDescription {
    text-align: center;
    margin-top: 100px;      /*positioning the alt image text to print the description of the image*/
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

} 
.imageBorder img{  /*text floated to the left hand side of the modal  and se*/
    float: left;
    width: 650px;
    height: 420px;
   
}
