/*imports 2 font families called Poppins and Audiowide from an external css file*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


    * {
        /*  smoothly scroll to the target elements instead of jumping*/
        scroll-behavior:smooth;
        margin: 0;
        /*width and height  include all content area, padding and border*/
        box-sizing: border-box;
    }


body{
    /*to center horizontally within a flex box of row - flex direction */
    justify-content: center;
    /* to center flex elements center vertically of row- flex direction */
    align-items: center;
    background-color: rgb(39, 39, 39);
}

#bgvideo {
    position: absolute;
    /* positions the right edge of the video element at the right edge of its containing block */
    right: 0;
    /* positions the bottom edge of the video element at the bottom edge of its containing block */
    bottom: 0;
    /*can have elemnts(elements with positive z-index) on this element*/
    z-index: -1;
}



/* Media query for screens with an aspect ratio equal to or greater than 16:9 - screen width is larger than screen height */
@media (min-aspect-ratio: 16/9){
    /*selecting by id*/
    #bgvideo{
        /* Set the video width to 100% of Screen's width */
        width: 100%;
        /*height is adjusted proptionally without distorting its original aspect ratio*/
        height:auto;
    }
}


/* Media query for screens with an aspect ratio lesser than 16:9 - screen width is smaller than screen height */
@media (max-aspect-ratio: 16/9){
    /*selecting by id*/
    #bgvideo{
        /* Set the video heigth to 100% of Screen's height */
        width: auto;
        /*width is adjusted proptionally without distorting its original aspect ratio*/
        height:100%;
    }
}



.main-text{
    /*creates a flex box */
    /*can controll easily by flex properties - flex direction,justify-content,align-items*/
    display: flex;
    /*to center horizontally within a flex box of row - flex direction */
    justify-content: center;
}


#MainText{
    font-family : "Audiowide";
    position: relative;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: auto;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.884);   
    top: 25vh;
    text-align: center;
}

/* Aligning the text and explore button to the centre(900px from the bottom) */
header{
    margin-bottom: 900px;
}

    #explore-button {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        overflow: hidden;
        /*horizontal offset, vertical offset, blur radius,
        and color of the shadow*/
        text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        /*full width with a line break*/
        display: block;
        margin-left:auto;
        margin-right: auto;
        position: relative;
        top: 40vh;
        width: 175px;
        height: 55px;
        border: 3px solid rgb(255, 255, 255);
        background: none;
        color: white;
        cursor: pointer;
        /*to add rounded corners */
        border-radius: 40px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        /*transition when hovering over*/
        transition: 0.3s ease;
    }

#explore-button:hover{
	color:black;
	background-color:white;
    /*0-1 scaledown above 1- scale up*/
	transform:scale(1.2);
	transition:0.3s ease;
}

.section-1{
    width: 700px;
    height: 400px;
    /* no line break but can set width,height,padding and margin*/
    display: inline-block;
    /*to add rounded corners */
    border-radius: 10px;
    padding: 15px 25px;
    /*width and height  include all content area, padding and border */
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../Gallery/background.jpg) ;
    background-size: cover;
    background-position: center;
}

.section-1 h1{
    text-shadow: 1px 1px 20px rgba(0,0,0,0.4);
    text-align: center;
    font-family: "Audiowide";
    font-size: 55px;
    color: rgb(204, 204, 204);
}

.flex{
    margin-top: 100px;
    /*can controll easily by flex properties - flex direction,justify-content,align-items*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 100px;
}

.text2{
    font-family : "Audiowide";
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: auto;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.884);   
    top: 25vh;
    text-align: center;
    text-decoration: underline;
}

.student1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Cricket.jpg);
}
.student2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Volleyball.jpg);
}
.student3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Football.jpg);
}
.student4{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/E-Sports.jpg);
}

.btn-container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 1rem;
    display: none;
}
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    font-size: 15px;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    color: black;
    border-color: rgb(163, 163, 163);
    border: rgb(53, 53, 53) 0.1rem solid;
}
  
  .btn:hover {
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: white;
    transform: scale(1.1);
}

.section-1:hover .btn-container{
    display: flex;
    /*main axis is vertical*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1:hover{
    transform: scale(1.03) ;
    transition: 0.3s ease;
}

#back-to-top-btn {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 100px;
    top: 40vh;
    width: 175px;
    height: 55px;
    border: 3px solid rgb(255, 255, 255);
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

#back-to-top-btn:hover{
	color:black;
	background-color:white;
	transform:scale(1.2);
	transition:0.3s ease;
}


