*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;     /*universal selector for all elements to be alligned*/

}



.bottomdiv{									/*svg container with height 70vh*/
    display: flex;
    height: 70vh;
    background: linear-gradient(to bottom, #181e1f 0%, #d1cbcb 100%);
	padding-top: 160px
	
    
}
h1{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;	
    font-size: 50px;
    
}
.marginL{
    margin-left: 100px;
}
rect {
    fill: blue ;
    stroke: black;
    stroke-width: 5;	/*rect style default color blue and black border design*/
    opacity: 1;
    transition: fill 0.3s;
  }

rect:hover,
.hoverEff:hover rect {				/*on hover rect turns aqua*/			
    opacity: 0.6;
    fill: aqua;
    
}
.hoverEff:hover .svgText {	/*text within svg turns black*/
    fill: black;
}

.svgText{
    fill:white;
    font-size:24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;		/*text within the svg rect and there design*/
    font-weight: bold;
    transition: fill 0.3s ;
}
.lineDes{
    fill:none;
    stroke: black;
    stroke-width: 8px;		/*svg lines properties */
    stroke-linecap:round;
}
.pageEditor{
	
	font-size: 20px;
}
